<!DOCTYPE html>
<html>
    <head>
        <title>Contact Details</title>
    </head>
    <body>
        <form method="POST">
             {{ contact.hidden_tag() }}  
             {{ contact.name.label }} {{ contact.name() }} 
             {{ contact.submit() }}
        </form>

        {% if names %}
            <p>Your names are:</p>
            <ul>
                {% for name in names %}
                    <li>{{ name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No names entered yet.</p>
        {% endif %}
    </body>
</html>
